# (C) 2016 by Christian Hesse <mail@eworm.de>
#
# This software may be used and distributed according to the terms
# of the GNU General Public License, incorporated herein by reference.

[Unit]
Description=Notify ykfde about key
DefaultDependencies=no
Before=cryptsetup-pre.target
Wants=cryptsetup-pre.target
Requires=ykfde-2f.service
After=ykfde-2f.service
ConditionPathExists=/run/ykfde.pid

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pkill -USR1 --pidfile /run/ykfde.pid
ExecStart=/usr/bin/sleep 0.2
