# (C) 2016-2022 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Yubikey full disk encryption

[Service]
Type=oneshot
KeyringMode=shared
NotifyAccess=all
ExecStart=-/usr/bin/ykfde
ExecStart=/usr/bin/ykfde-cpio
ExecStop=/usr/bin/ykfde-cpio
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
