[Unit]
Description=Yubikey full disk encryption

[Service]
Type=oneshot
ExecStart=/usr/bin/ykfde
ExecStart=/usr/bin/ykfde-cpio
ExecStop=/usr/bin/ykfde-cpio
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
