# (C) 2016-2019 by Christian Hesse <mail@eworm.de>
#
# This software may be used and distributed according to the terms
# of the GNU General Public License, incorporated herein by reference.

[Unit]
Description=Get 2nd Factor for YKFDE
DefaultDependencies=no
Before=cryptsetup-pre.target
Wants=cryptsetup-pre.target
ConditionPathExists=/etc/ykfde.d/

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutSec=0
KeyringMode=shared
ExecStart=/usr/bin/systemd-ask-password --no-tty --no-output --id='ykfde-2f' --keyname='ykfde-2f' 'Please enter second factor for Yubikey full disk encryption!'
