# (C) 2016-2017 by Christian Hesse <mail@eworm.de>
#
# This software may be used and distributed according to the terms
# of the GNU General Public License, incorporated herein by reference.

[Unit]
Description=Yubikey full disk encryption

[Service]
Type=oneshot
KeyringMode=shared
NotifyAccess=all
ExecStart=-/usr/bin/ykfde
ExecStart=/usr/bin/ykfde-cpio
ExecStop=/usr/bin/ykfde-cpio
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
